.table{
    width:80%;
    height: auto;
    background-color: rgb(65, 63, 63);
    margin-top:150px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    flex-flow:column wrap;
    padding-top: 40px;
}
.table h1{
    color: white;
    font-size:40px;
    text-shadow: 2px 2px 2px black;
}