.NewTask-Frame{
    background-color: rgb(141, 141, 141);
    width: 80%;
    border-radius: 10px;
    display:flex;
    flex-flow: row wrap;
    height: auto;
    justify-content: space-evenly;
    align-items:center;
    margin-top:20px;
    padding: 20px 0; 
}


.NewTask-Frame-supleft{
    flex: 4;
    display:flex;
    flex-flow: row wrap;
}
.NewTask-Frame_sub{
    display:flex;
    flex-flow: column wrap;
    align-items: flex-start;
    margin-left:50px ;
}
input{
    border:1px solid rgb(255, 136, 0);
    height:35px;
    width: 250px;
    border-radius: 10px;
    margin-top:5px;
    padding-left: 4px;
}
label{
    font-size:20px;
    font-weight: bolder;

}
.NewTask-Frame-supright{
    flex: 1;
    display:flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
.NewTask-Frame-supright button{
    width: 100px;
    height: 40px;
    border-radius: 10px;
    background-color: rgb(255, 136, 0);
    color:white;
    font-size:17px;
    font-weight:bolder;
    margin-right: 10px;
}

@media only screen and (max-width: 1200px)  {
        .NewTask-Frame{
            justify-content: center;
            flex-flow: column wrap;
        }
        .NewTask-Frame_sub{
            display:flex;
            flex:1;
            align-items: center;
            margin-left:0;
            margin-bottom: 15px;
        }
        .NewTask-Frame-supleft{
            flex:1;
            flex-flow:column wrap;
            justify-content: center;
            align-content:center;
        }
}
@media only screen and (max-width: 670px)  {
    
    
}